body {
  height: 999rem;
}

.s-hero {
  width: 100%;
  height: 78.6rem;
  background: URL("../imgs/bg-hero.svg") no-repeat center center;
  background-size: cover;
  padding-top: 17.5rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .text {
    width: 100%;
    max-width: 68.4rem;

    h3 {
      opacity: 0.8;
      color: #fff;
      font-weight: 600;
      margin-bottom: 3.2rem;
    }

    h1 {
      color: #fff;
      margin-bottom: 3.9rem;
    }

    ul {
      width: 100%;
      max-width: 62.1rem;
      margin-top: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        .icon {
          background: linear-gradient(
            180deg,
            rgba(53, 203, 226, 0.4) 0%,
            rgba(53, 202, 226, 0) 100%
          );
          width: 4.8rem;
          height: 4.8rem;
          border-radius: 50%;
          @include flex(row, center, center);
        }

        span {
          color: #fff;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }

  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -17.4rem;

    h2 {
      margin-bottom: 6.7rem;
      text-align: center;
      color: #fff;
      opacity: 0.4;
      font-weight: 600;
    }

    .image {
      position: relative;
      top: 3.5rem;
      width: 100%;
      height: 54.1rem;

      img {
        position: absolute;
      }

      .card-front {
        top: 4.1rem;
        left: 0;
        z-index: 2;
      }
      .card-back {
        right: 8.6rem;
        bottom: 4.6rem;
        z-index: 1;
      }

      .circle {
        top: 2.8rem;
        right: 4.6rem;
      }
    }
  }
}

.s-card-neon {
  padding-top: 12.9rem;

  .container {
    @include flex(row, flex-start, space-between);
  }

  .left-area {
    width: 100%;
    max-width: 27.7rem;

    .ilustra-mockup {
      position: relative;
      width: 100%;
      max-width: 27.7rem;
      margin-bottom: 12.9rem;

      .circle {
        position: absolute;
        z-index: -1;
        max-width: 37.7rem;
        top: 8.7rem;
        left: -21.4rem;
      }
    }

    .text {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .icon {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          height: 8.3rem;
          top: -10.4rem;
          width: 0.5rem;
          left: 50%;
          margin-left: -0.25rem;
          background: url("../imgs/points.svg") no-repeat;
        }
      }

      .info-text {
        display: flex;
        align-items: center;
        flex-direction: column;

        h3 {
          text-align: center;
          margin-top: 3.6rem;
          color: $gray-600;
        }
        p {
          text-align: center;
          color: $gray-400;
          text-align: center;
          font-size: 1.6rem;
          line-height: 150%;
          opacity: 0.8;
          margin-bottom: 2.6rem;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 2.6rem;
            }
          }
        }
      }
    }
  }

  .right-area {
    width: 100%;
    max-width: 80rem;

    .main-text {
      margin-bottom: 14.4rem;

      h2 {
        max-width: 48.8rem;
        color: $gray-600;
        margin-bottom: 4.9rem;
      }

      ul {
        margin-bottom: 3.2rem;

        li {
          @include flex(row, center, space-between);
          flex-direction: row;
          border-bottom: 1px solid rgba(225, 224, 231, 0.9);
          padding: 3.3rem 0;

          &:first-child {
            padding-top: 0;
          }

          .info {
            display: flex;
            align-items: center;
            gap: 4.3rem;

            .text {
              h3 {
                color: $gray-400;
              }

              p {
                font-size: 1.8rem;
                line-height: 150%;
                color: $gray-300;
              }
            }
          }
        }
      }

      .btn {
        position: relative;
        display: inline-block;
        color: $brand-blue;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 112%;
        letter-spacing: -0.05rem;
        transition: color 0.3s;

        &:hover {
          color: $brand-light-blue;
        }

        &:after {
          position: absolute;
          right: 0;
          bottom: 0;
          right: -1.8rem;
          content: "";
          width: 1rem;
          height: 0.3rem;
          background-color: $brand-yellow;
        }
      }
    }
  }

  .box-card {
    width: 100%;
    height: 41rem;
    background: url("../imgs/bg-box-card-neon.svg") no-repeat center center;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5.9rem;

    .text {
      width: 100%;
      max-width: 38rem;

      h2 {
        color: #fff;
        margin-bottom: 1.1rem;
      }

      h3 {
        color: #fff;
        max-width: 32.7rem;
        margin-bottom: 0.8rem;
      }

      p {
        color: #fff;
        font-size: 1.6rem;
        line-height: 150%;
        margin-bottom: 3.1rem;
      }

      .btns {
        display: flex;
        align-items: center;
        gap: 1.6rem;
      }
    }

    .image {
      margin-right: -3.1rem;
    }
  }
}

.s-depoimentos {
  padding-top: 13.4rem;

  .top {
    @include flex(row, flex-end, space-between);
    margin-bottom: 4rem;

    h2 {
      span {
        display: block;
        color: $gray-200;
        margin-bottom: 1.4rem;
      }
    }

    .swiper-pagination {
      position: relative;
      max-width: 7.4rem;

      .swiper-pagination-bullet {
        background-color: $brand-yellow;
        opacity: 0.3;
        border-radius: 1.2rem;
        transition: all 0.3s;

        &:not(:first-child) {
          margin-left: 0.4rem;
        }

        &-active {
          opacity: 1;
          width: 1.723rem;
        }
      }
    }
  }

  .slide-depoimentos {
    overflow: hidden;
  }
}
